h1{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: aliceblue
}
body{
    background-color: #86b3d1;
    
}

table{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
   
}
td{
    width: 60px;
    height: 60px;
    text-align: center;
    border: 2px solid #4d6d9a;
    font-size: 35px;
    font-weight: bold;
}

#result{
    text-align: center;
    margin: 10px;
    font-family: monospace;
    font-size: 1.3em;
}
#reset{
    margin: 20px auto;
    display: block;
}
td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:nth-of-type(2) {
  border-top-color: transparent;
}
td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

@media screen and (max-width: 1024px){
  td{
    width: 100px;
    height: 100px;
    text-align: center;
    border: 3px solid;
    font-size: 3.7em;
    font-weight: bold;
        }
}

#result{
    color:aliceblue;
    font-size: 1.8em;
}

   
    